@charset "utf-8";



:root{
  --font-jamsil : 'TheJamsil5Bold', serif;
  --font-suit: 'SUIT-Regular', serif;
  --font-esamanru: 'GongGothicMedium', serif;
  --fontgiants: 'Giants-Bold', serif;
  --fontgiantsinline: 'Giants-Inline', serif;
  --color-orange : #fc7732;
  --color-green : #03826d;
  --color-red : #ca1f31;
  --color-navy : #475059;
}
/*공통 처리*/
section{
  margin: 150px 0;
}
.section-tit p{
  font-family: var(--fontgiantsinline);
  color: #fff;
  font-size: 3rem;
  white-space: nowrap;
}
.section-tit p .sp-orange{
  color: var(--color-orange);
}
.section-tit p .sp-green{
  color: var(--color-green);
}
.section-tit p .sp-red{
  color: var(--color-red);
}

.section-tit h2{
  font-family: var(--font-jamsil);
  color: #fff;
  font-size: 6rem;
  white-space: nowrap;
}

/*반응형*/
@media (max-width : 1024px){
  section{
    margin: 100px 0;
  }
  .section-tit p{
    font-size: 1.6rem;
  }

  .section-tit h2{
    font-size: 3rem;
  }
  
}
@media (max-width : 765px){
  section{
    margin: 50px 0;
  }

} 

/*main-visual*/
#main-visual{
  padding-top: 50px;
  margin: 0 auto;
  position: relative;
}

#main-visual ul li img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width : 765px){
  #main-visual{
    width: 100%;
    padding-top: 0;
  }
}


/*controller*/
#main-visual .mv-control{
  display: flex;
  justify-content: space-between;
  z-index: 999;
  width: 30%;
  height: 60px;
  position: relative;
  top: -20px;
  left: 4%;
  border: 1px solid #ebebeb;
  align-items: center;
  padding: 0px 32px;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 54px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}
#main-visual .mv-control .controller{
  width: 40%;
}
#main-visual .mv-control .pagination{
  width: 60%;
}
#main-visual .mv-control .controller .buttons{
  display: flex;
  gap: 20px;
}
#main-visual .mv-control .controller .buttons li{
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  overflow: hidden;
  font-size: 1px;
  cursor: pointer;
}
#main-visual .mv-control .controller .buttons .swiper-button-prev:after {
  display: none;
}
#main-visual .mv-control .controller .buttons .swiper-button-next:after {
  display: none;
}
#main-visual .mv-control .controller .buttons li img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
#main-visual .mv-control .prevbtn, #main-visual .mv-control .nextbtn{
  position: static;
  width: 40px;
  height: 15px;
  color: transparent;
  font-size: 0;
  margin-top: 0;
} 
#main-visual .mv-control .pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#main-visual .mv-control .pagination .swiper-pagination{
  position: static;
  border-radius: 1px;
  overflow: hidden;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 60%;
    height: var(--swiper-pagination-progressbar-size, 2px);
    background-color: #ebebeb;
    left: 0;
    top: 0;
    margin: 0 10px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--color-orange);
}


#main-visual .mv-control .pagination h3{
  font-size: 1.5rem;
  color: #444;
}
#main-visual .mv-control .pagination .curnumchange{
  color: #fc7732;
}
/*반응형*/
@media (max-width : 1024px){
  #main-visual .mv-control{
    height: 40px;
    padding: 0px 24px;
    top: -12px;
  }
  #main-visual .mv-control .controller .buttons{
    gap: 10px;
  }
  #main-visual .mv-control .controller .buttons li{
    width: 18px;
    min-width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
  }
  .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
      width: 100%;
      height: var(--swiper-pagination-progressbar-size, 2px);
      background-color: #ebebeb;
      left: 0;
      top: 0;
      margin-left: 20px;
  }

  #main-visual .mv-control .pagination h3{
    display: none;
  }

}
@media (max-width : 765px){
  #main-visual .mv-control{
    height: 30px;
    padding: 0px 5px;
    top: -10px;
    border-radius: 8px;
  }
  #main-visual .mv-control .controller{
    width: auto;
  }
  #main-visual .mv-control .controller .buttons{
    display: none;
  }
  #main-visual .mv-control .pagination{
    width: 100%;
  }
} 






/*event*/
#event .inner{
  display: flex;
  position: relative;
  gap: 3%;
}
#event .inner .event-tit{
  width: 25%;
}
#event .inner .event-list{
  width: 65%;
  padding-top: 50px;
}
#event .inner .event-list .event-name ul{
  display: flex;
  gap: 50px;
}
#event .inner .event-list .event-name ul li{
  font-family: var(--font-jamsil);
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  padding: 10px 40px;
  border-radius: 20px;
  white-space: nowrap;
}
#event .inner .event-list .event-name ul li.active{
  background-color: #fc7732;
}

#event .event-cont{
  position: absolute;
  top: 130px;
  left: -40%;
  width: 1500px;
  overflow: hidden;
}
#event .event-cont .evcont-ul .evcont-li .event-img ul li{
  width: 240px;
}
#event .event-cont .evcont-ul .evcont-li .event-img ul li .img-box{
  width: 240px;
  height: 240px; 
  background-color: #f9f9f9;
}
#event .event-cont .evcont-ul .evcont-li .event-img ul li .img-box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#event .event-cont .evcont-ul .evcont-li .event-img ul li a{
  display: block;
  width: 240px;
}
#event .event-cont .evcont-ul .evcont-li .event-img ul li .txt-box{
  padding-top: 20px;
  text-align: center;
}
#event .event-cont .evcont-ul .evcont-li .event-img ul li .txt-box p{
  color: #fff;
  font-family: var(--font-jamsil);
}
#event .event-cont .evcont-ul .evcont-li .event-img ul li .txt-box h3{
  color: #fff;
  margin-top: 10px;
  font-size: 2rem;
  font-family: var(--font-jamsil);
  margin-bottom: 50px;
  text-align: center;
}
#event .event-cont .evcont-ul .evcont-li .event-img ul li .txt-box h5{
  color: #ca1f31;
  text-decoration: line-through;
  margin: 8px 0;
  font-family: var(--font-jamsil);
  font-size: 1.6rem;
}
#event .event-cont .evcont-ul .ev03 ul{
  display: flex;
  gap: 220px;
}
#event .event-cont .evcont-ul .ev03 .event-img ul li a{
  display: flex;
  gap: 20px;
  position: relative;
}
#event .event-cont .evcont-ul .ev03 .plus{
  position: absolute;
  top: 25%;
  left: 70%;
  background-color: #fc7732;
  border-radius: 50%;
  padding: 10px;
}
#event .event-cont .evcont-ul .ev03 .plus span{
  color: #ebebeb;
  font-size: 4rem;
}

#event .event-icon{
  position: absolute;
  top: 5px;
  left: 220px;
  background-color: #fc7732;
  color: #fff;
  padding: 5px 10px;
}
#event .swiper-pagination{
  top: auto;
  bottom: 0;
  left: 0;
  width: 97%;
  height: 5px;
  margin: 0;
}


/*반응형*/
@media (max-width : 1024px){
  #event .inner{
    display: flex;
    position: relative;
    gap: 3%;
  }
  #event .inner .event-list{
    padding-top: 20px;
  }
  #event .inner .event-list .event-name ul{
    gap: 20px;
  }
  #event .inner .event-list .event-name ul li{
    font-size: 2rem;
    padding: 10px 20px;
    
  }
  #event .event-cont{
    width: 1000px;
    top: 80px;
    
  }
    #event .event-cont ul{  
     width: 100%;
  }
  #event .event-cont .evcont-ul .evcont-li .event-img ul li .img-box{
    width: 200px;
    height: 200px;
  }
  #event .event-cont .evcont-ul .evcont-li .event-img ul li .txt-box{
    width: 200px;
  }
  #event .event-cont .evcont-ul .evcont-li .event-img ul li .txt-box h3{
    font-size: 1.6rem;
  }


  #event .event-icon{
    left: 180px;
    padding: 5px 10px;
  }
  #event .swiper-pagination{
    width: 80%;
  }
}


@media (max-width : 765px){
  #event .inner{
    display: block;
    max-width: 700px;
    overflow: hidden;

  }
  #event .inner .event-tit{
    width: 100%;
  }
  #event .inner .event-list{
    width: 100%;

  }
  #event .inner .event-list .event-name ul{
    gap: 10px;
  }

  #event .event-cont{
    width: 700px; 
    position: static;
    margin-top: 30px;
    overflow: hidden;
}
  #event .event-cont .evcont-ul .evcont-li .event-img ul li .img-box{
    width: 200px;
    height: 200px;
  }

  #event .event-icon{
    display: none;
  }
  #event .swiper-pagination{
    width: 90%;
    height: 5px;
  }
} 










/*#new*/
#new{
  margin-top: 700px;
}

#new .inner{
  display: flex;
  justify-content: space-between;
}
#new .new-left{
  width: 30%;
  /* padding-left: 10%; */
}
#new .new-left .new-tit li{
  margin-bottom: 40px;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
}
#new .new-left .txt-under span{
  display: block;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
#new .new-left .txt-under .or-line{
  background-color: #fc7732;
}
#new .new-left .txt-under .gr-line{
  background-color: #03826d;

}
#new .new-left .txt-under .red-line{
  background-color: #ca1f31;
}

#new .new-left .new-tit li.active{
  text-align: right;
}
#new .new-left .new-tit .show-tit{
  opacity: 0;
}
#new .new-left .new-tit li.active .show-tit{
  opacity: 1;
}






#new .new-cont{
  width: 60%;
}
#new .new-cont .new-right-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#new .new-cont .new-right-ul li{
  width: calc((100% - 40px) / 3);
  aspect-ratio: 1 / 1;
  background-color: #f9f9f9;
  position: relative;

}
#new .new-cont .new-right-ul li img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#new .new-cont .new-right-ul li h6{
  position: absolute;
  top: 0;
  left: 0; 
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-family: var(--font-jamsil);
  font-size: 2rem;
  font-weight: 300;
  transition: all 0.5s;
  z-index: 9999;
  white-space: nowrap;
  opacity: 0;
}
#new .new-cont .new-right-ul li h6 span{
  display: block;
  margin: 30px 0 0;
  color: #fff;
}
#new .new-cont .new-right-ul li h6 .invi{
  overflow: hidden;            /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; 
}
#new .new-cont .new-right-ul li:hover h6{
  opacity: 1;
}
#new .new-cont .txt-under{
  margin: 0 auto;
  width: 200px;
}
#new .new-cont .txt-under .btn-more{
  display: block;
  text-align: center;
  margin: 100px 0 10px;
  font-family: var(--fontgiantsinline);
  font-size: 3rem;
  font-weight: 400;
}
#new .new-cont .txt-under span{
  display: block;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
#new .new-cont .txt-under .or-line{
  background-color: #fc7732;
}
#new .new-cont .txt-under .gr-line{
  background-color: #03826d;
}
#new .new-cont .txt-under .red-line{
  background-color: #ca1f31;
}




/*반응형*/
@media (max-width : 1024px){
  #new{
    margin-top: 500px;
  }
 #new .new-cont .new-right-ul .new3{
  display: none;
 }

 #new .new-cont .new-right-ul li h6{
    font-size: 1.6rem;
  }
  #new .new-cont .new-right-ul li h6 span{
    margin: 20px 0 0;
  }
  #new .new-cont .txt-under .btn-more{
    margin: 80px 0 10px;
  }
}


@media (max-width : 765px){
  #new{
    margin-top: 150px;
  }
  #new .new-cont .new-right-ul .new2{
    display: none;
  }
  #new .new-cont .new-right-ul li{
    width: calc((100% - 20px) / 2);
    aspect-ratio: 1 / 1;

  }
  #new .new-cont .new-right-ul li h6{
    font-size: 1.4rem;
  }
  #new .new-cont .new-right-ul li h6 span{
    margin: 10px 0 0;
  }
  #new .new-cont .txt-under .btn-more{
    margin: 60px 0 10px;
  }
} 



/**app-promotion*/
#app-promotion .inner{
  width: 100%;
  height: 450px;
  max-width: none;
  position: relative;
}
#app-promotion h3{
  display: none;
}
#app-promotion .inner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#app-promotion a{
  display: inline-block;
  padding: 20px 60px;
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 2.4rem;
  font-family: var(--font-suit);
  background-color: transparent;
  transition: all 0.3s;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

#app-promotion a:hover{
  background-color: var(--color-orange);
  border: none;
}



@media (max-width : 1024px){
  #app-promotion .inner{
    width: 100%;
    height: 300px;
  }
  #app-promotion a{
    padding: 10px 30px;
    font-size: 2rem;
  }
}



@media (max-width : 765px){
  #app-promotion a{
    font-size: 1.6rem;
    padding: 5px 20px;
  }
}


/**sevencafe*/
#sevencafe{
  margin-top: 300px;
}
#sevencafe .sevencafe-tit{
  text-align: right;
  margin-bottom: 50px;
  padding-left: 67%;
}

#sevencafe .txt-under span{
  display: block;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
#sevencafe .txt-under .or-line{
  background-color: #fc7732;
}
#sevencafe .txt-under .gr-line{
  background-color: #03826d;
}
#sevencafe .txt-under .red-line{
  background-color: #ca1f31;
}

#sevencafe .sevencafe-cont{
  width: 100%;
  overflow: hidden;
  position: relative;
}
#sevencafe .sevencafe-cont img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#sevencafe .sevencafe-cont p{
  width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 2rem;
  padding: 5% 3%;
  position: absolute;
  top: 0;
  left: 0;
}
#sevencafe .sevencafe-cont p span{
  display: block;
  margin-bottom: 30px;
  color: #fff;
  font-size: 2.4rem;
}
#sevencafe .sevencafe-cont p a{
  display: inline-block;
  padding: 4% 8%;
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 2rem;
  font-family: var(--font-suit);
  background-color: transparent;
  transition: all 0.3s;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}
#sevencafe .sevencafe-cont p a:hover{
  background-color: var(--color-orange);
  border: none;
}


@media (max-width : 1024px){
  #sevencafe{
    margin-top: 200px;
  }
  #sevencafe .sevencafe-cont p{
    width: 300px;
    font-size: 1.6rem;
    padding: 5% 3%;
  }
  #sevencafe .sevencafe-cont p span{
    margin-bottom: 10px;
    font-size: 2rem;
  }
  #sevencafe .sevencafe-cont p a{
    padding: 2% 6%;
    font-size: 1.6rem;
    bottom: 5%;
  }
}
@media (max-width : 765px){
  #sevencafe{
    margin-top: 100px;
  }
  #sevencafe .sevencafe-cont p{
    width: 100%;
    font-size: 1.6rem;
    padding: 5% 3%;
  }
   #sevencafe .sevencafe-cont p a{
    padding: 1% 4%;
    bottom: 8%;
  }
}

/*membership*/
#membership .section-tit{
  text-align: center;
  margin-bottom: 50px;
}
#membership .section-tit .txt-under{
  width: 30%;
  margin: 20px auto;
}

#membership .section-tit .txt-under span{
  display: block;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
.section-tit .txt-under .or-line{
  background-color: #fc7732;
}
.section-tit .txt-under .gr-line{
  background-color: #03826d;
}
.section-tit .txt-under .red-line{
  background-color: #ca1f31;
}


#membership .mbcard{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
}
#membership .tab-btn{
  width: 20%;
}
#membership .tab-cont{
  width: 80%;
}
#membership .tab-btn ul{
  padding: 20% 2%;
}
#membership .tab-btn ul li{
  font-family: var(--font-esamanru);
  font-size: 3rem; 
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  padding: 10% 0;
  text-align: center;
  margin: 20px 0;
}
#membership .tab-btn ul li.active{
  background-color: #fc7732;
  border-radius: 50px;
}
#membership .tab-cont li{
  aspect-ratio: 2 / 1;
}
#membership .tab-cont li img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}


/*반응형*/
@media (max-width : 1024px){
 #membership .tab-btn ul{
    padding: 15% 2%;
  }
  #membership .tab-btn ul li{
    font-size: 2rem; 
    padding: 10% 0;
    margin: 20px 0;
  }
 
}
@media (max-width : 765px){
  #membership .mbcard{
    width: 100%;
    display: block;
  }
  #membership .tab-btn{
    width: 100%;
  }
  #membership .tab-cont{
    width: 100%;
  }
  #membership .tab-btn ul{
    display: flex; 
    gap: 40px; 
    padding: 20px 0;
  }
  #membership .tab-btn ul li{
    font-family: var(--font-esamanru);
    font-size: 2rem; 
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    padding: 3%;
    text-align: center;
    margin: 20px 0;
  }
  #membership .tab-btn ul li.active{
    background-color: transparent;
    border-radius: 0;
    border-bottom: 3px solid #fc7732; color: #fc7732;
  }
  #membership .tab-cont li{
    aspect-ratio: 2 / 1;
  }
  #membership .tab-cont li img{
    width: 100%; 
    height: 100%; 
    object-fit: contain;
  }


} 



/***/
#service .section-tit{
  text-align: center;
  margin-bottom: 50px;
}
#service .section-tit .txt-under{
  width: 30%;
  margin: 20px auto;
}

#service .section-tit .txt-under span{
  display: block;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}

#service .inner{
  height: 800px; 
  position: relative;
}

#service .search{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 100;
  margin-top: 50px;
}
#service .search div{
  display: inline-block;
  border-radius: 50px;
  background-color: #eee;
  overflow: hidden;
  width: 30%;
  min-width: 260px;
}
#service .search input[type="text"]{
  font-family: var(--font-suit);
  background-color: #eee;
  width: calc(100% - 60px);
  height: 50px;
  font-size: 1.6rem;
  padding: 0 20px;
}
#service .search .search-btn{
  background: url(../img/service/search.png) no-repeat center;
  font-size: 0;
  color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#service .serv-bg{
  background: url(../img/service/bg_top_box.png) no-repeat center;
  width: 295px;
  height: 126px;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}
#service .inner .a-box{
  text-align: center;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#service .inner .a-box a{
  padding: 10px 20px;

  background-color: #03826d;
}




/*반응형*/
@media (max-width : 1024px){
  #service .inner{
    height: 600px; 
  }
  #service .search{
  
    margin-top: 0;
  }
    #service .inner .a-box{
      display: none;
    }
}
@media (max-width : 765px){
  #service .inner{
    height: 400px; 
  }
  #service .serv-bg{
    display: none;
  }
} 

/*partner*//*485*320*/
#partner .partner-tit{
  text-align: right;
  margin-bottom: 50px;
  padding-left: 67%;
}
#partner .txt-under{
  margin: 20px 0 80px;
}
#partner .section-tit .txt-under span{
  display: block;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
#partner .inner{
  width: 1400px;
}
#partner .part-cont1, #partner .part-cont2{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
#partner .part-cont1 > *, #partner .part-cont2 > *{
  width: calc((100% - 20px) / 2);
}
#partner .ulbox ul{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
#partner .ulbox ul li{
  width: calc((100% - 40px) / 3);
  aspect-ratio: 1 / 1;
}
#partner .ulbox ul li:hover{
  border-radius: 50px;
}
#partner .ulbox ul li a{
  width: 100%;
  height: 100%;
  display: block;
  font-size: 2.4rem;
  font-family: var(--font-esamanru);
  padding: 20px;
}
#partner .ulbox ul li img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#partner ul.ptul01 li:nth-child(1){
  background-color: #fc7732;
}
#partner ul.ptul01 li:nth-child(2){
  background-color: #48C1EE;
}
#partner ul.ptul01 li:nth-child(3){
  background-color: #03826d;
}
#partner ul.ptul02 li:nth-child(1){
  background-color: #049B48;
}
#partner ul.ptul02 li:nth-child(2){
  background-color: #ca1f31;
}
#partner ul.ptul02 li:nth-child(3){
  background-color: #FABD01;
}
#partner .swiper{
  width: 50%;
}
#partner .swiper .swiper-wrapper{
  width: 100%;
}
#partner .swiper img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#partner .part{
  position: relative; 
}
/*controller*/
#partner .mv-control{
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  width: 40%;
  height: 48px;
  position: absolute;
  top: 20px;
  left: 55%;
  border: 1px solid #ebebeb;
  align-items: center;
  padding: 0px 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}
#partner .mv-control .controller{
  width: 40%;
}
#partner .mv-control .pagination{
  width: 60%;
}
#partner .mv-control .controller .buttons{
  display: flex;
  gap: 20px;
}
#partner .mv-control .controller .buttons li{
  width: 16px;
  min-width: 16px;
  min-height: 16px;
  overflow: hidden;
  font-size: 1px;
  cursor: pointer;
}

#partner .mv-control .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: 30%;
}
#partner .mv-control .controller .buttons .swiper-button-prev:after {
  display: none;
}
#partner .mv-control .controller .buttons .swiper-button-next:after {
  display: none;
}
#partner .mv-control .controller .buttons li img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
#partner .mv-control .prevbtn, #main-visual .mv-control .nextbtn{
  position: static;
  width: 10px;
  height: 10px;
  color: transparent;
  font-size: 0;
  margin-top: 0;
}
#partner .mv-control .pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#partner .mv-control .pagination .swiper-pagination{
  position: static;
  border-radius: 1px;
  overflow: hidden;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 60%;
    height: var(--swiper-pagination-progressbar-size, 2px);
    background-color: #ebebeb;
    left: 0;
    top: 0;
    margin: 0 10px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--color-orange);
}


#partner .mv-control .pagination h3{
  font-size: 1.5rem;
  color: #444;
}
#partner .mv-control .pagination .curnumchange{
  color: #fc7732;
}
/*반응형*/
@media (max-width : 1024px){
  #partner .inner{
    width: 900px;
  }
  #partner .part-cont1 > *, #partner .part-cont2 > *{
    width: 100%;
  }
  #partner .ulbox ul{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  #partner .ulbox{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  #partner .video-frame, #partner .swiper{
    display: none;
  }
  #partner .ulbox ul li a{
    font-size: 2rem;
    padding: 10px;
  }
}
@media (max-width : 765px){
  #partner .inner{
    width: 700px;
  }
  #partner .ulbox > ul{
    width: 100%;
  }
  #partner .ulbox ul li{
    width: 50%;
  }
  #partner .hidden{
    display: none;
  }
} 



/*sns*/

#sns .txt-under{
  width: 25%;
  margin: 20px 0 40px;
}
#sns .section-tit .txt-under span{
  display: block;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
#sns .sns-cont{
  margin-top: 50px;  
}
#sns .sns-cont h4{
  font-size: 2.4rem;
  color: #fff;
  margin: 20px 0;
}
#sns .sns-cont .sns-top{
  border-bottom: 1px solid #fff;
  padding-bottom: 50px;
}
#sns .sns-cont .sns-top > div{
  display: flex;
  gap: 40px;
}
#sns .sns-cont  .new-text h3{
  font-size: 3rem;
  color: #fff;
  margin: 20px 0 0;
}
#sns .sns-cont .new-text > span{
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 40px 0;
}
#sns .sns-cont .new-text strong{
  color: #fff;
  font-weight: 400;
  margin-left: 20px;
}
#sns .sns-cont .new-text p{
  font-size: 2.4rem;
  color: #fff;
}
#sns .sns-cont .sns-bottom{
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 0;
}
#sns .sns-cont .sns-bottom > div{
  width: 48%;
}
#sns .sns-cont .sns-bottom .bottom-left ul li{
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
#sns .sns-cont .sns-bottom .bottom-left ul li > *{
  width: 50%;
}
#sns .sns-cont .sns-bottom  .new-text h3{
  font-size: 2rem;
  margin: 0;
}
#sns .sns-cont .sns-bottom .new-text span{
  font-size: 1.6rem;
  margin: 10px 0;
}
#sns .sns-cont .sns-bottom .new-text strong{
  margin-left: 10px;
}
#sns .sns-cont .sns-bottom .new-text p{
  font-size: 1.6rem;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
} 



#sns .sns-cont .sns-bottom .bottom-right ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#sns .sns-cont .sns-bottom .bottom-right ul li{
  width: calc((100% - 60px) / 3);
}
#sns .sns-cont .sns-bottom .bottom-right ul li img{ 
  width: 100%;
  height: 100%;
  object-fit: contain;
} 

#sns .morebtn a{
  display: none;
}
@media (max-width : 1024px){
  #sns .sns-cont .sns-top > div{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #sns .sns-cont .sns-top iframe{
    width: 100%;
    height: 500px;
  }
  #sns .sns-cont .sns-bottom{
    flex-direction: column;
    gap: 40px;
  }
  #sns .sns-cont .sns-bottom > div{
    width: 100%;
  }
  #sns .sns-cont .bottom-left{
    border-bottom: 1px solid #fff;
  }
}
@media (max-width : 765px){
  #sns .sns-cont .sns-top > div{
    gap: 20px;
  }
   #sns .sns-cont .bottom-left{
    display: none;
   }
   #sns .sns-cont .sns-top iframe{
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
   #sns .sns-cont  .new-text{
    text-align: center;
   }
  #sns .sns-cont  .new-text h3{
    font-size: 1.8rem;
    margin: 10px 0 0;
  }
  #sns .sns-cont .new-text > span{
    font-size: 1.4rem;
    margin: 20px 0;
  }
  #sns .sns-cont .new-text p{
    font-size: 1.6rem;
  }
  #sns .sns-cont .sns-top{
    padding-bottom: 40px;
  }
  #sns .morebtn{
    margin: 0 auto;
    width: 80px;
  }
  #sns .morebtn a{
    display: block;
    text-align: center;
    margin: 50px auto 0;
    font-family: var(--fontgiantsinline);
    font-size: 2rem;
  }
  #sns .morebtn span{
    display: block;
    width: 80px;
    height: 1px;
    margin: 2px 0;
  }
  #sns .morebtn .or-line{
    background-color: #fc7732;
  }
  #sns .morebtn .gr-line{
    background-color: #03826d;
  }
  #sns .morebtn .red-line{
    background-color: #ca1f31;
  }
  #sns .sns-cont .sns-bottom .bottom-right ul{
    gap: 10px;
  }
}