@charset "utf-8";


:root{
  --font01 : 'TheJamsil5Bold', serif;
  --font02: 'SUIT-Regular', serif;
  --font03: 'GongGothicMedium', serif;
  --font04: 'Giants-Bold', serif;
  --font05: 'Giants-Inline', serif;
  --color-orange : #fc7732;
  --color-green : #03826d;
  --color-red : #ca1f31;
  --color-navy : #475059;
}
